.enigma-editor-container {
    border-radius: 30px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.enigma-editor-container .monaco-editor {
    border-radius: 45px;
}